.footer {
    background-color: #064EA4;
    color: white;
    padding: 3rem 0;
  }
  
  .footerContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 2rem; 
  }
  .footerTop {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .socialIcons {
    display: flex;
    align-items: center;
    gap: 1rem;
   margin-top: -5px;
  }
  
  .heading {
    margin-bottom: 1rem;
  }
  
  .linkList {
    list-style: none;
    padding: 0;
    font-size: 14px;
  }
  
  .linkList li {
    margin-bottom: 1rem;
  }
  
  .link {
    color: white;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  .footerLinksWrapper {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .footerLinksWrapper > * {
    flex: 1 1 30%; /* 3 per row on large, 2 or 1 per row on small */
    min-width: 120px;  }
  

    @media (min-width: 769px) {
      .footerContainer {
        flex-direction: row;
      }
    
      .footerTop {
        flex: 1;
      }
    
      .footerLinksWrapper {
        flex: 2;
        justify-content: flex-end;
      }
    }
    @media (max-width: 768px) {
      .footerContainer {
        flex-direction: column;
        align-items: flex-start;
      }
    
      .footerLinksWrapper {
        margin-top: 2rem;
        justify-content: space-between;
      }
    }