.header {
  background-color: white;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  position: relative;
  z-index: 100;
}

.submenu {
  display: none;
  list-style-type: none;
  padding: 0;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 100%;
  left: 0;
  z-index: 10;
  width: 200px;
}

.submenuItem {
  padding: 8px 16px;
}

.submenuLink {
  color: #000;
  text-decoration: none;
  display: block;
  padding: 8px 0;
}

.submenuLink:hover {
  color: #064ea4;
}

.desktopMenuItem {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 16px; 
  border-radius: 5px;
  transition: background-color 0.3s ease; 
}

.desktopMenuItem:hover {
  background-color: transparent;
}

.desktopMenuItem:hover .submenu {
  display: block;
  animation: slideDown 0.3s ease-out;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.mobileMenuContainer {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  padding: 0 15px; 
}

.logoContainerMobile {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-grow: 1; 
  text-align: center; 
}

.mobileMenuButton {
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  color: black;
}

.mobileMenuButton svg {
  width: 24px;
  height: 24px;
  stroke: currentColor;
}

.desktopMenuContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media (min-width: 768px) {
  .mobileMenuContainer {
    display: none;
  }
  .logoContainerMobile {
    display: none;
  }
  .desktopMenuContainer {
    display: flex;
  }
}

.desktopLogoContainer {
  display: flex;
  align-items: center;
  padding-left: 3rem;
  margin-left: 3rem;
}

.desktopMenu {
  display: flex;
  gap: 1rem;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
  padding-right: 3rem;
}

.dropdownHover:hover {
  background-color: #f8f9fa;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .mobileMenuContainer {
    display: flex;
    justify-content: space-between;
  }

  .desktopMenuContainer {
    display: none;
  }
}
